.progress-container {
  position: fixed;
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: hotpink;
  width: 0%;
}

h1, h2, h3 {
    font-family: "Paytone One", sans-serif;
    font-style: normal;
  }
  
p {
    font-family: "Paytone One", serif;
    font-style: normal;
}

body {
  background-color: #DBECFF;
}
