* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.progress-container {
  position: fixed;
  width: 100%;
  height: 8px;
  background: #ccc;
  z-index: 2;
}

.progress-bar {
  height: 8px;
  background: hotpink;
  width: 0%;
  z-index: 2;
}

h1,
h2,
h3 {
  font-family: "Paytone One", sans-serif;
  font-style: normal;
}

p {
  font-family: "Open Sans";
  font-style: normal;
}

body {
  background-color: #dbecff;
}
