<div class="tekst-kasse">
  <h3>DONER HER</h3>
</div>
<style>
  .tekst-kasse {
    padding: 10px 25px;
    background-color: #ff5178;
    color: white;
    width: 170px;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .tekst-kasse:hover {
    cursor: pointer;
    background-color: #ffe2e7;
    color: #8f0d3c;
  }
</style>
