<div class="first">
<!-- <img src="/public/img/firstpic.webp" alt="Glade børn"> -->
<h1>ET MAGISK ØJEBLIK VÆK FRA<br> HVERDAGEN</h1>
</div>
<style>

.first {
    background-image: url(/public/img/firstpic.webp);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    background-position: fixed;
}
.first h1 {
color: white!important;
top: 70%;
left: 30%;
transform: translate(-18%, -0%);
text-align: center;
z-index: 1;
display: inline-block;
font-size: calc(16px + 2vw);
background-color: rgba(41, 65, 138, 0.6);
padding: 0.5em 1em;
border-radius: 5px; 
box-sizing: border-box; 
width: 65%;
}



</style>

<script>

import {
  animate, inView, scroll
} from "motion";

animate("h1", {opacity: [0,1]}, {duration: 2});

scroll(animate("h1", {opacity: [1, 0]}), {
    target: document.querySelector("h1"),
    offset: ["start start", "end start"]
})

</script>