
<div class="first">

    <h1 class="scrolltext">ET MAGISK ØJEBLIK VÆK FRA<br> HVERDAGEN</h1>
    
    </div>
    <style>

    .first {
        background-image: url(/public/img/firstpic.webp);
        top: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-size: cover;
        background-position: fixed;
    }
    .scrolltext{
    color: white!important;
    text-align: center;
    display: inline-block;
    font-size: calc(16px + 2vw);
    background-color: rgba(41, 65, 138, 0.6);
    padding: 0.5em 1em;
    border-radius: 5px; 
    box-sizing: border-box; 
    width: 70%;
    top: -30%;
    position: relative;
    z-index: 1;
    }
    
    </style>
    
    <script>

    </script>