<img src="/public/img/firstpic.webp" alt="Glade børn">
<h1>Et magisk øjeblik væk fra hverdagen</h1>
<style>
.FirstPic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img {
   grid-column: 1 / 4;
   background-position: center;
   width: 100%;
}
h1 {
text-align: center;
z-index: 1;
}
</style>