---
import image10 from "../../public/img/image10.svg";
import tekstboks1 from "../../public/img/tekstboks1.svg";
import stjerner from "../../public/img/stjerner.svg";
import tryllestav from "../../public/img/tryllestav.svg";
import { Image } from "astro:assets";
---

<div class="infobox_overskrift">
  <Image src={image10} alt="overskrift" />
</div>
<div class="infobox">
  <Image class="tekstboks1" src={tekstboks1} alt="tekstboks" />
  <div class="infotext">
    <p>
      I Magiske Makkere er det formålet, at vores magikere er til stede på alle <br/>landets børneafdelinger og skaber magi
       og glæde, så børnene  <br />bliver opslugt at de spændende magiske tricks og bliver <br /> underholdt og får en ægte pause
      
      fra sygdom, kedelig ventetid, <br />frygt for ubehag eller sorg.
    </p>
  </div>

    <Image class="tryllestav" src={tryllestav} alt="tryllestav" />
    <Image class="stjerner" src={stjerner} alt="stjerner" />
  
</div>

<script>
  import { animate, scroll, inView } from "motion";

  scroll(animate(".infobox_overskrift", { opacity: [0, 1] }), {
    target: document.querySelector(".infobox_overskrift"),
    offset: ["start center", "end center"],
  });

  scroll(animate(".stjerner", {rotate: [0, 360], opacity: [1,0,1,1,0]}, {ease: "linear"}),{
    target:document.querySelector(".stjerner"),
    offset:["start end", "end start"],
  })
</script>
<style>
  .infobox_overskrift img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    text-align: center;
    margin: 50vh;
  }

  .infobox_overskrift {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .infobox {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.25 0.25 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  }

  .tekstboks1{
    grid-column: 2 / 6;
    grid-row: 1 / 5;
  }

  .infotext {
   grid-column: 2 / 6;
   grid-row: 3 / 5;
   padding-left: 7vw;
   color: #ECF5FC;
   font-size: 22px;
  }

.tryllestav {
  grid-column: 4 / 6;
  grid-row: 2 / 4;
}

.stjerner {
grid-column: 3 / 6;
grid-row: 1 / 2;
}

  @media (max-width: 480px) {
    .infotext {
      font-size: 0.7rem;
      max-width: 70ch;
    }

    .infobox {
      padding-left: 0%;
    }

    .wand {
      height: auto;
    }
  }
</style>
