<div class="lottie">
    <iframe src="https://lottie.host/embed/63e792c6-09c0-4466-8558-d3527b6f88a6/IWQxGkhcgs.json" width="100%" height="100%" frameborder="0"></iframe>
<!-- <iframe src="https://lottie.host/embed/afb00503-8ca8-45a2-9baf-b58db490f306/LqlXRXjMuX.json" width="100%" height="500%" ></iframe> -->
</div>
<style>
.lottie {
    margin-top: 200px;
    text-align: center;
    height: 100vh;
}
</style>