

<div class="container">
  
  <h2 class="scrolltext2">“SIKKE EN GAVE, AT SE MERLES ØJNE<br /> STRÅLE, OG SE HENDES LILLE<br /> "RYGSÆK" BLIVE FYLDT MED<br /> FULDSTÆNDIG FANTASTISKE MINDER"</h2>
</div>

<style>
  .container {
    background-image: url(/public/img/secondpic.webp);
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: fixed;
  }

  .scrolltext2 {
    color: white !important;
    position: absolute;
    top: 62%;
    left: 30%;
    transform: translate(-18%, -0%);
    text-align: center;
    z-index: 1;
    display: inline-block;
    font-size: 4vh;
    background-color: rgba(41, 65, 138, 0.6);
    padding: 0.5em 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    width: 60%;
  }
</style>
